*{
    border:none;
    margin:0;
    padding:0;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    transition-duration: 0.6s;
}

/* .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  } */
  /* .header-area {
    opacity:inherit;
    display:flex;
    justify-content:space-around;
    background:rgba(255, 191, 71, 0.842);
  } */
  /* default css end */
  
  /*Styling logo*/
.logo{
    padding:0vh 10vw;
    display: inline-block;
    text-align: center;
    filter: brightness(1000%)
}
  /* navbar regular css start */
  .navbar-area {
    background: rgb(71, 28, 71);
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-right: 10vh;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    font-size: large;
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }
  /* intro-area css end */
  .map1 {
    display: inline-block;
    margin: 1% 2%  ;
    padding: 10px;
    /* width: 45%; */
    vertical-align: top;
}
.map2 {
    display: none;
    margin: 1% 2%  ;
    padding: 10px;
    /* width: 45%; */
    vertical-align: top;
}
  
@media screen and (max-width: 455px) {
    .map1 {
        display: none;
        margin: 1% 2%  ;
        padding: 10px;
        /* width: 45%; */
        vertical-align: top;
    }
    .map2 {
        display: inline-block;
        margin: 1% 2%  ;
        padding: 10px;
        /* width: 45%; */
        vertical-align: top;
    }
}

  /* mobile breakpoint start */
  @media screen and (min-width: 300px) and (max-width: 800px) {
    .container {
      max-width: 720px;
    }
    .logo{
        padding:0vh 2vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .bottom-captions{
        width: 100%;
     }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
      margin-right: 2vh;
    }
    .site-navbar ul {
    
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 100px;
      flex-direction: column;
      align-items: center;
      /* border-top: 1px solid #444; */
      background-color: rgba(85, 22, 100, 0.90);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
   
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
       
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */
.sidebar{
    font-size:xx-large;
    padding:8px;
    border-radius:8px;
    font-weight:500;
    background: transparent;
}
.sidebar:hover{
    background:rgba(230, 156, 61, 0.685);
    transition-duration:0.6s;
}
/* .nav{
    padding:12px;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius:8px;
    background:transparent;
    font-weight:400;
    transition-duration:0.6s;
}
.nav:hover{
    background:rgba(230, 156, 61, 0.685);
    transition-duration:0.6s;
} */
.form{
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.form-button{
    padding:10px;
    border-radius:12px;
    margin-left:30px;
    transition-duration: 0.6s;
    background: transparent;
}
.form-button:hover{
    background:rgba(139, 50, 125, 0.685);
    transition-duration:0.6s;
}

.top{
    display:flex;
    /* margin-top:1vh; */
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis:10%;
    grid-template-columns: repeat(auto-fit , minmax(100px,1fr));
    align-items: stretch;
    background: rgba(255, 191, 71, 0.842);
}
.img{
    width:250px;   
}
.text{
    margin-left:10px;
    margin-top:60px;
    margin-bottom: 20px;
}
.heading-text{
    font-size:50px;
}

/* .logo-text{
    display:flex;
    justify-content:left;
    font-size:26px;
    margin-left: 20px;
    color:rgb(71, 28, 71);
}
.logo-captions{
    display:flex;
    justify-content:center;
    color:white;
    font-size: 12px;
} */
.bottom{
    flex-direction:column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.booking{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(223, 45, 74);
    text-decoration:none;
    border-radius: 8px;
    margin-left:100px;
    margin-right:100px;
    color: white;
    padding:6px;
    margin-top:20px;
    margin-bottom: 20px;
    transition-duration: 0.6s;
}
.booking:hover{
    opacity: 0.8;
    transition-duration: 0.6s;
}
@media screen and  (min-width:1000px) {
    .booking{
        display:grid;
        justify-content:center;
        background-color: rgb(223, 45, 74);
        text-decoration:none;
        border-radius: 8px;
        margin-left:400px;
        margin-right:400px;
        color: white;
        padding:6px;
        margin-bottom:20px;
        transition: 0.5s ease-in-out;
    }
    .booking:hover{
        opacity: 0.8;
        transition-duration: 0.6s;
    }
    
}
.bottom-captions{
    padding-top:30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.1rem;
    color: white;
    /* width: 100%; */
}

.footer {
    background-color: black;
}
.footer-sec {
    display: inline-block;
    margin: 1% 2%  ;
    padding: 10px;
    /* width: 45%; */
    vertical-align: top;
}

#map {
    width: 750px;
    height: 350px;
}