*{
    border:none;
    margin:0;
    padding:0;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar{
   background:linear-gradient(60deg,rgba(255, 191, 71, 0.842),rgba(139, 50, 125, 0.685)) ;
   width:10px;
   height:100vw;
   border-radius:35px;
}
::-webkit-scrollbar-track{
    background: linear-gradient(60deg,rgba(255, 191, 71, 0.842),rgba(139, 50, 125, 0.685));
    border-radius:25px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(51, 7, 44, 0.979) ;
    border-radius:100vw;
}
@media only screen and (max-width:1200px) {

   

    .header{
        width:100%;
        height:4rem;;
        background:rgba(255, 191, 71, 0.842);
        
    }
    .side-menu{
        width:50%;
    }
    .menu{
        position:relative;
        margin-top:10px;
        right:-5px;
        width:10%;
        margin-left:15px;
        border-radius:8px;
        height:40px;
        background-color:transparent;
        font-weight: bolder;
        transition-duration:0.6s;
    }
    .menu:hover{
        position:relative;
        margin-top:10px;
        right:-5px;
        width:10%;
        height:40px;
        background-color:rgba(230, 156, 61, 0.685);
        font-weight: bolder;
        transition-duration:0.6s;
    }
    .nav-top{
        position:relative;
        right:50px;
        display:flex;
        justify-content:center;
        gap:40px;
    }
    .nav{
        margin-top:15px;
        padding:10px;
        border-radius:8px;
        background:transparent;
        font-weight:400;
        transition-duration:0.6s;
    }
    .nav:hover{
        margin-top:15px;
        padding:10px;
        border-radius:8px;
        background:transparent;
        background-color:rgba(230, 156, 61, 0.685);
        font-weight:400;
        transition-duration: 0.6s;
    }
    .form{
        position:relative;
        top:15px;
        right:-85px;
        gap:30px;
    }
    .form-button{
        font-size:15px;
        padding:10px;
        border-radius:8px;
        background:transparent;
        font-weight:400;   
        transition-duration: 0.6s;
    }
    .form-button:hover{
        font-size:15px;
        padding:10px;
        border-radius:8px;
        background:rgba(139, 50, 125, 0.685);
        font-weight:400;   
        transition-duration: 0.6s;
    }
        .logo{
            visibility:hidden;
            width:1%;
            position:relative;
            right:0px;
            top:0px;
        }
        .image-caption{
            visibility:hidden;
        }
        .top{
            position:relative;
            background:rgba(255, 191, 71, 0.842);
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            height:340px;
            width:100%;
        }
        .heading-text{
            position:relative;
            top:170px;
            right:80px;
            letter-spacing:2px;
            margin-left:150px;
            font-size:50px;
        }
        .heading-captions{
            position:relative;
            letter-spacing:0.1em;
            top:170px;
            margin-left:150px;
        }
        .middle{
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            position:relative;
            margin-left:250px;
            margin-top:20px;
            color:rgb(71, 28, 71);
        }
        
        .mid{
            position: relative;
            right:30px;
            font-size:x-large;
            letter-spacing:0.2em;
            margin-left:100px;
            margin-bottom:10px;
        }
        .mid-text{
            position:relative;
            right:80px;
            font-size:50px;
            margin-bottom:15px;
        }
        .mid-captions{
            color:black;
            margin-left:70px;
            margin-bottom:10px;
        }
        .bottom{
            position:relative;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .booking{
            background:rgb(223, 45, 74);
            position:relative;
            font-size:26px;
            font-weight:300;
            padding-top:4px;
            padding-bottom:4px;
            padding-right: 6px;
            padding-left: 6px;
            border-radius :6px;
            margin-left:250px;
            right:80px;
            color:#fff;
            transition-duration:0.6s;
        }
        .booking:hover{
            background:rgb(223, 45, 74);
            font-size:26px;
            font-weight:300;
            padding-top:4px;
            padding-bottom:4px;
            padding-right: 6px;
            padding-left: 6px;
            opacity:0.7;
            border-radius :6px;
            margin-left:250px;
            color:#fff;
            transition-duration:0.6s;
        }
        .bottom-captions{
            padding-top:20px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            letter-spacing: 0.1rem;
            margin-left:30px;
            padding-bottom:30px;
        }
}
    @media only screen and (min-width:1200px) {

        .header{
            width:100%;
            height:4rem;
            background:rgba(255, 191, 71, 0.842);
            
        } 
        .side-menu{
            width:30%;
        }
        .menu{
            position:relative;
            margin-top:15px;
            right:-20px;
            width:8%;
            margin-left:30px;
            border-radius:8px;
            height:40px;
            background-color:transparent;
            font-weight:500;
            transition-duration: 0.6s;
        }  
        .menu:hover{
            position:relative;
            margin-top:15px;
            right:-20px;
            margin-left:30px;
            border-radius:8px;
            width:8%;
            height:40px;
            background-color:rgba(230, 156, 61, 0.685);
            font-weight:500;
            transition-duration: 0.6s;
        }  
        .nav-top{
            position:relative;
            display:flex;
            justify-content:center;
            right:200px;
            gap:130px;
        }
        .nav{
            margin-top:15px;
            padding:10px;
            border-radius:8px;
            background:transparent;
            font-weight:400;
            transition-duration: 0.6s;
        }
        .nav:hover{
            margin-top:15px;
            padding:10px;
            border-radius:8px;
            background-color:rgba(230, 156, 61, 0.685);
            font-weight:400;
            transition-duration: 0.6s;
        }
        .form{
            position:relative;
            top:15px;
            right:-350px;
        }
        .form-button{
            font-size:15px;
            padding:10px;
            border-radius:8px;
            background:transparent;
            font-weight:400;   
            margin-left:20px;
            transition-duration: 0.6s;
        }
        .form-button:hover{
            font-size:15px;
            padding:10px;
            border-radius:8px;
            background:rgba(139, 50, 125, 0.685);
            font-weight:400;  
            margin-left:20px; 
            transition-duration: 0.6s;
        }
        .logo{
            width:550px;
            height:550px;
            position:relative;
            left:790px;
            top:-100px;
        }
        .top{
            position:absolute;
            top:64px;
            background:rgba(255, 191, 71, 0.842);
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            height:50%;
            width:100%;
        }
        .heading-text{
            position:relative;
            top:170px;
            letter-spacing:2px;
            margin-left:150px;
            font-size:50px;
        }
        .heading-captions{
            position:relative;
            letter-spacing:0.2em;
            top:180px;
            margin-left:150px;
        }
        .middle{
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            position:relative;
            top:330px;
            margin-left:300px;
            margin-top:20px;
            color:rgb(71, 28, 71);
        }
        
        .mid{
            font-size:x-large;
            letter-spacing:0.2em;
            margin-left:100px;
            margin-bottom:10px;
        }
        .mid-text{
            font-size:50px;
            margin-bottom:15px;
        }
        .mid-captions{
            color:black;
            margin-left:70px;
        }
        .bottom{
            position:relative;
            top:340px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .booking{
            border:none;
            background:rgb(223, 45, 74);
            font-size:26px;
            font-weight:300;
            padding-top:4px;
            padding-bottom:4px;
            padding-right: 6px;
            padding-left: 6px;
            border-radius :6px;
            margin-left:250px;
            color:#fff;
            transition-duration:0.6s;
        }
        .booking:hover{
            border:none;
            background:rgb(223, 45, 74);
            font-size:26px;
            font-weight:300;
            padding-top:4px;
            padding-bottom:4px;
            padding-right: 6px;
            padding-left: 6px;
            opacity:0.7;
            border-radius :6px;
            margin-left:250px;
            color:#fff;
            transition-duration:0.6s;
        }
        .bottom-captions{
            padding-top:30px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            letter-spacing: 0.1rem;
            margin-left:60px;
        }
    }